{% extends "layout.html" %}

{% block content %}
<h2>Experience</h2>

<p>
  Toby is currently working at Moneybox, where his role involves:
  <ul>
    <li>Designing and implementing data-driven systems for internal use, enhancing operational efficiency.</li>
    <li>Creating comprehensive financial models and forecasts to assist in strategic planning and decision-making.</li>
    <li>Leading data analytics projects to uncover business insights and opportunities.</li>
    <li>Collaborating with cross-functional teams to ensure alignment of data analysis and business objectives.</li>
  </ul>
</p>
{% endblock %}
