{% extends "layout.html" %} <!-- Inherit from the base template -->

{% block content %} <!-- Start of content block that will be inserted into base.html -->
<h2>About Me</h2> <!-- Sub-header -->
<p>Using data to build great products and make good calls.</p> <!-- About section -->
<button onclick="changeColor()">Change color</button> <!-- Button that triggers a JavaScript function -->
<p id="colorParagraph">This paragraph's color will change when you click the button.</p> <!-- Paragraph affected by the JavaScript function -->
{% endblock %} <!-- End of content block -->
