{% extends "layout.html" %}

{% block content %}
<h2>Skills</h2>

<p>
  Toby is a seasoned professional with expertise in the following areas:
  <ul>
    <li><strong>Mathematics:</strong> With a strong academic background, Toby has a proven ability to apply mathematical concepts and theories to solve complex problems.</li>
    <li><strong>Microsoft Excel:</strong> Proficient in data manipulation and analysis using Excel. Toby is capable of building complex models and performing high-level financial analysis.</li>
    <li><strong>Power BI:</strong> Adept at creating dynamic and interactive reports and dashboards using Power BI to drive business insights and decision-making.</li>
  </ul>
</p>
{% endblock %}